<% if (messages.error || messages.errors || messages.notice) { %>
  <div class="alert alert-<%= (messages.error || messages.errors) ? 'danger' : 'warning' %> alert-dismissible fade show" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

    <% if (messages.errors) { %>
    Validation errors:
    
    <ul>
      <% messages.errors.forEach((err) => { %>
        <li>
          <% if (err.param && err.msg) { %>
            <%= `${err.param} ${err.msg}` %>
          <% } else { %>
            <%= err %>
          <% } %>
        </li>
      <% }) %>
    </ul>
    <% } else if (messages.error) { %>
      <p><%= messages.error %></p>
    <% } else { %>
      <p><%= messages.notice %></p>
    <% } %>
  </div>
<% } %>