<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <% if (user && !user.upgraded && user.isStandard()) { %>
        <% include ../users/partials/payment/upgrade.ejs %>
      <% } %>

      <% if (userWikis && userWikis.length > 0) { %>
        <h1>Your Wikis</h1>

        <div class="list-group">
          <% userWikis.forEach((wiki) => { %>
            <a href="/wiki/<%= wiki.slug %> %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <%= wiki.title %>

              <% if (wiki.private) { %>
                <span class="badge badge-primary badge-pill">Private</span>
              <% } %>
            </a>
          <% }) %>
        </div>        
      <% } %>

      <% if (sharedWikis && sharedWikis.length > 0) { %>
        <h1>Shared Private Wikis</h1>

        <div class="list-group">
          <% sharedWikis.forEach((wiki) => { %>
            <a href="/wiki/<%= wiki.slug %> %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <%= wiki.title %>

              <span class="badge badge-primary badge-pill">Private</span>
            </a>
          <% }) %>
        </div>        
      <% } %>

      <% if (publicWikis) { %>
        <h1>Wikis</h1>

        <div class="list-group">
          <% publicWikis.forEach((wiki) => { %>
            <a href="/wiki/<%= wiki.slug %> %>" class="list-group-item list-group-item-action">
              <%= wiki.title %>
            </a>
          <% }) %>
        </div>        
      <% } %>

      <% if (user) { %>
        <a href="/wiki/new" class="btn btn-primary btn-lg">New Wiki</a>
      <% } %>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>